* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.someclass {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
  max-width: 600px;
}

.such_a_div {
  width: 600px;
  margin: 0 auto;
  border-width: 1px;
  max-width: 620px;
}

.such_a_div:hover {
  color: #ffffff;
}

.static {
  position: static;
}

.testtestarea {
  width: 450px;
  height: 450px;
  float: left;
}

.testtext {
  width: 100%;
  height: 100%;
  resize: none;
}

.min-height-test {
  min-height: 300px;
  padding: 0px 20px 0px 20px;
}

.min-height-test .min-height-test-test {
  min-height: 400px;
}

#header {
  width: 980px;
  height: 90px;
  margin: 0 auto;
  background: #f60;
}

#body {
  width: 980px;
  height: 500px;
  margin: 0 auto;
}

#aside {
  float: left;
  width: 240px;
  height: 500px;
  background: #ccc;
}

#main {
  float: left;
  width: 740px;
  height: 500px;
  background: #f0f0f0;
}

#footer {
  width: 980px;
  height: 90px;
  margin: 0 auto;
  background: #08f;
}

.test-flex-wrapper {
  width: 1200px;
  border: #000000 solid 1px;
  display: flex;
  height: fit-content;
}

.test-flex {}

.test-flex-part {
  width: 1200px;
}

.test-flex-title {
  display: inline-block;
  width: 300px;
  text-align: end;
  padding-right: 80px;
}

.test-flex-content {
  display: inline-block;
  width: 800px;
  flex: 1;
}
/*
ul {
  background-color: cornflowerblue;
}

ul li {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  position: relative;
}

ul li::before {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: #ccc transparent #ccc transparent;
  z-index: 0;
}

ul li::after {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  left: 100%;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #ccc;
  z-index: 10;
} */

.tabContainer {
  background-color: darkgoldenrod;
  height: 50px;
  display: flex;
  padding: 0px 12px;
}

.tabBefore {
  height: 30px;
  border-left-color: transparent;
  border-top-color: #CCC;
  border-bottom-color: #CCC;
  border-width: 15px 0 15px 15px;
  border-style: solid;
}

.tabAfter {
  height: 30px;
  border-left-color: #CCC;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-width: 15px 0 15px 15px;
  border-style: solid;
}

.tabContent {
  background-color: #CCC;
  height: 30px;
}

.tabAfter + .tabBefore {
  margin-left: -10px;
}
